body {
    background-color: #000000;
    color:white;
}
#img1{
    width: 600px;
    height: 500px;
    float: left;
    margin-top: 0px;
}
#bank{
    text-align: center;
}
.main-div{
    margin-left: 200px;
    display: flex;
}
.text_1{
    height: 180px;
    width: 680px;
    margin-left: 20px;
    margin-top: 120px;
    padding-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #111;
    border-radius: 20px;
}
.text_2{
    margin-left: 320px;
    background-color: #111;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 1000px;
    margin-bottom: 50px;
}
.currencies{
    display: flex;
    margin-left: 320px;
    width: 1050px;
    gap: 27px;
}
.values{
    text-align: center;
    border-radius: 20px;
    background-color: #111;
    padding: 50px;
}
.textValues{
    text-align: center;
    font-size: 25px;
}
.sidenav {
    height: 100%; 
    width: 183px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 160px; 
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#Menu{
    color: white;
}